body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h4 {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h5 {
    font-size: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h6 {
    font-size: 1.1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family:'Merryweather', 'Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* Post Slider */
.post-slider {
    position:relative;
}
/* Writing */
.post-slider .post-wrapper-writing {
    width: 84%;
    height: 400px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}
.post-slider .post-wrapper-writing .post{
    /*width: 300px;*/
    height: 300px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.post-slider .post-wrapper-writing .post .post-info{
    height: 130px;
    padding: 0px 5px;
}
.post-slider .post-wrapper-writing .post .slider-image{
    height: 100%;
}
.post-slider .writing-next {
    position:absolute;
    top: 50%;
    right: 30px;
    color: #AEAEAE;
    cursor: pointer;
}
.post-slider .writing-prev {
    position:absolute;
    top: 50%;
    left: 30px;
    color: #AEAEAE;
    cursor: pointer;
}
/* Collages */
.post-slider .post-wrapper-collages {
    width: 84%;
    height: 400px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}
.post-slider .post-wrapper-collages .post{
    /*width: 300px;*/
    height: 300px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.post-slider .post-wrapper-collages .post .post-info{
    height: 130px;
    padding: 0px 5px;
}
.post-slider .post-wrapper-collages .post .slider-image{
    height: 100%;
}
.post-slider .collages-next {
    position:absolute;
    top: 50%;
    right: 30px;
    color: #AEAEAE;
    cursor: pointer;
}
.post-slider .collages-prev {
    position:absolute;
    top: 50%;
    left: 30px;
    color: #AEAEAE;
    cursor: pointer;
}