body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
.profile-pic {
    height: 310px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
@media (min-width: 675px) {
    .profile-pic {
        float: right;
        margin: 7px 0px 0px 20px;
    }
}
@media (min-width: 1300px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    footer {
        margin-top: 20px;
        height: 20px;
    }
    .profile-pic {
        float: right;
        margin: 7px 20px 0px 20px;
    }
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h4 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #999;
    font-weight: bold;
}
h5 {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #999;
    font-weight: bold;
}
h6 {
    font-size: 1.1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    font-family:'Merryweather', 'Serif';
    text-align:justify;
}
.p-li {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    font-family:'Merryweather', 'Serif';
    text-align:justify;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/* Post Slider */
.post-slider {
    position:relative;
}
/* Writing */
.post-slider .post-wrapper1 {
    width: 84%;
    height: 400px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}
.post-slider .post-wrapper1 .post{
    /*width: 300px;*/
    height: 300px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.post-slider .post-wrapper1 .post .post-info{
    height: 130px;
    padding: 0px 5px;
}
.post-slider .post-wrapper1 .post .slider-image{
    height: 100%;
}
.post-slider .next1 {
    position:absolute;
    top: 50%;
    right: 30px;
    color: #AEAEAE;
    cursor: pointer;
}
.post-slider .prev1 {
    position:absolute;
    top: 50%;
    left: 30px;
    color: #AEAEAE;
    cursor: pointer;
}

/* Collages */
.post-slider .post-wrapper2 {
    width: 84%;
    height: 400px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}
.post-slider .post-wrapper2 .post{
    /*width: 300px;*/
    height: 300px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.post-slider .post-wrapper2 .post .post-info{
    height: 130px;
    padding: 0px 5px;
}
.post-slider .post-wrapper2 .post .slider-image{
    height: 100%;
}
.post-slider .next2 {
    position:absolute;
    top: 50%;
    right: 30px;
    color: #AEAEAE;
    cursor: pointer;
}
.post-slider .prev2 {
    position:absolute;
    top: 50%;
    left: 30px;
    color: #AEAEAE;
    cursor: pointer;
}

/* Photographs */
.post-slider .post-wrapper3 {
    width: 84%;
    height: 400px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}
.post-slider .post-wrapper3 .post{
    /*width: 300px;*/
    height: 300px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.post-slider .post-wrapper3 .post .post-info{
    height: 130px;
    padding: 0px 5px;
}
.post-slider .post-wrapper3 .post .slider-image{
    height: 100%;
}
.post-slider .next3 {
    position:absolute;
    top: 50%;
    right: 30px;
    color: #AEAEAE;
    cursor: pointer;
}
.post-slider .prev3 {
    position:absolute;
    top: 50%;
    left: 30px;
    color: #AEAEAE;
    cursor: pointer;
}
