<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" href="../favicon.ico">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">About</a></li>
        <li><a href="/research">Research</a></li>
        <li><a href="/creativity">Creativity</a></li>
        <li><a href="/resources">Resources</a></li>
    </ul>
</nav>
<div class="container">

    {{ content }}

</div><!-- /.container -->
<footer>
    <ul>
        <li><a href="mailto:gaiamolinaro@berkeley.edu"><img src="../logos/email_logo.png" alt="email" width="20"></a></li>
        <li><a href="https://github.com/gaiamolinaro" target="_blank"><img src="../logos/github_logo.png" alt="github" width="20"></a></li>
        <li><a href="https://www.linkedin.com/in/gaiamolinaro/" target="_blank"><img src="../logos/linkedin_logo.png" alt="linkedin" width="20"></a></li>
        <li><a href="https://twitter.com/gaia_molinaro" target="_blank"><img src="../logos/twitter_logo.png" alt="twitter" height="20"></a></li>
        <li><a href="https://scholar.google.com/citations?user=fQnpU6IAAAAJ&hl=en&oi=ao" target="_blank"><img src="../logos/gscholar_logo.png" alt="google scholar" height="20"></a></li>
    </ul>
</footer>

<!-- js scripts -->
<script src="../js/website-scripts.js"></script>

<script>
    $(document).ready(function () {
        $('.post-wrapper').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            centerMode: true,
            variableWidth: true,
            nextArrow: $('.next'),
            prevArrow: $('.prev'),
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    })
</script>

<!-- Slick Carousel -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<!-- Fonts Awesome Icons -->
<script src="https://kit.fontawesome.com/7c4762a272.js" crossorigin="anonymous"></script>

</body>
</html>
