<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/creativity">Creativity</a></li>
	        		<li><a href="/resources">Resources</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gaiamolinaro@berkeley.edu"><img src="logos/email_logo.png" alt="email" width="40"></a></li>
	        		<li><a href="https://github.com/gaiamolinaro"><img src="logos/github_logo.png" alt="github" width="40"></a></li>
				<li><a href="https://www.linkedin.com/in/gaiamolinaro/"><img src="logos/linkedin_logo.png" alt="linkedin" width="40"></a></li>
				<li><a href="https://twitter.com/gaia_molinaro"><img src="logos/twitter_logo.png" alt="twitter" width="40"></a></li>
				</ul>
			</footer>
		</body>
	</html>
